In [11]:
10 < 100

True

In [12]:
100 != 100

False

In [13]:
50 >= 50

True

In [14]:
age=20

In [15]:
age<18

False

In [16]:
age<21

True

In [17]:
age<31

True

In [18]:
"a" < "b"

True

In [19]:
"b" < "a"

False

In [20]:
"John" < "Terry"

True

In [21]:
"john" < "Terry"#False because the j is small, and all capitals are less than small letters

False

In [23]:
[1,2,3] < [1,2,3]

False

In [24]:
[1,2,2] < [1,2,3]

True

In [25]:
5 < 10.2

True

In [26]:
5 < "Monty"

TypeError: '<' not supported between instances of 'int' and 'str'

In [27]:
5 < "5"

TypeError: '<' not supported between instances of 'int' and 'str'

In [28]:
 5 == "5"

False

In [29]:
age = 30

(age >=18 and age <=65) and (not age==30)

False

In [30]:
weight=130
height=150
100<weight<200

True

In [31]:
131<height<160

True

In [32]:
names = ["Terry", "John", "Michael", "Eric", "Terry", "Graham"]
"Terry" in names

True

In [33]:
"John" not in names

False

In [34]:
message = "Hello there, my name is John"
"Cena" in message

False

In [35]:
"Hello"in message

True

In [38]:
age=int(input("How old are you? "))
if 18<age<30:
    print("you are still young!")

How old are you? 20
you are still young!

In [39]:
if age > 100:
    print("you are very old,")
    print("well done!")
elif age > 80:
    print("you are fairly old")
    print("pretty good!")
elif age > 40:
    print("you are middle aged")
    print("never mind")
elif 30<age<40:
    print("you are nearly middle aged")
    print("time is coming")
else:
    print("you are not very old - yet")

you are not very old - yet

In [40]:
name = input("Enter your name: ")
if name!="":
    print("Your name is", name)
else:
    print("Name not entered")

Enter your name:
Name not entered

In [41]:
print("you are an adult" if age >=18 else "you are not an adult, yet!")

you are an adult

In [43]:
names=["Alicent","Alistair","Grumbold","Husker"]
for n in names:
    print(n)

Alicent
Alistair
Grumbold
Husker

In [48]:
for n in range(2,11,2):
    print(n, "to the power of",n,"is", n ** n)

2 to the power of 2 is 4
4 to the power of 4 is 256
6 to the power of 6 is 46656
8 to the power of 8 is 16777216
10 to the power of 10 is 10000000000

In [49]:
numbers = [10, 20 , 30, 90, 200, 30, 22, 11]
total=0
for i in numbers:
    total+=i
    print("Current total:",total)

Current total: 10
Current total: 30
Current total: 60
Current total: 150
Current total: 350
Current total: 380
Current total: 402
Current total: 413

In [50]:
numbers = [10, 20 , 30, 90, 200, 30, 22, 11]
total=0
for i in numbers:
    if i>100:
        break
    total+=i
    print("Current total:",total)

Current total: 10
Current total: 30
Current total: 60
Current total: 150

In [52]:
numbers = [10, 20 , 30, 90]
total=0
for i in numbers:
    if i>100:
        break
    total+=i
    print("Current total:",total)
else:
    print("all numbers were processed")

Current total: 10
Current total: 30
Current total: 60
Current total: 150
all numbers were processed